BACKEND_HOST=127.0.0.1
BACKEND_PORT=4545
BACKEND_PUBLIC_BIND=false
BACKEND_AUTH_TOKEN=replace-with-at-least-32-random-characters
CODEX_MOCK_MODE=true
CODEX_BIN=codex
CODEX_CONNECTION_MODE=child
SQLITE_PATH=./concierge.sqlite
